# Backend API — https://hassle-conceded-washtub.ngrok-free.dev/swagger/index.html
API_URL=https://hassle-conceded-washtub.ngrok-free.dev
NEXT_PUBLIC_API_URL=https://hassle-conceded-washtub.ngrok-free.dev

# Frontend proxy path — odatda o'zgartirmaslik kerak
NEXT_PUBLIC_API_BASE=/backend
